body {
    font-family: 'Montserrat', sans-serif; 
    margin:0;
}
header {
    height: 100px; 
    box-shadow: 9px 9px 16px -11px rgba(0,0,0,0.75);
    width: auto;
    background-color: whitesmoke;
    margin-bottom: auto;
    
}

header .moonita {
    height: 70px;
    display: inline-block;
    margin: 10px;
}

header nav {
    display: inline-block;
    height: 100%; 
    vertical-align: top;

}

header nav a {
    font-size:1.0em;
    color:pink;
    text-decoration: none;
} 

header nav a.selected {
    text-decoration: underline;
}

header .nav-option {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
}

.li-container {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    text-align: center;
    
}

.li-card {
    flex: 1;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    border-width: 5px;
    border-color:#FDEAD5;
    border-style: double;
    background: pink;
    margin: 15px;
    color: white;

}

.li {
    max-height: 230px;
    border-radius: 100%;
    border-style: double;
    display: block;
    margin: 10px auto;
}

.titulo {
    float: right;
    color: pink;
    margin: auto 15px;
    height: 100%;
    text-shadow: 2px 2px grey;
}

h2 {
    text-decoration: underline white;
    text-align: center;
}

p {
    margin:15px;
    text-align: center;
    font-size: medium;
}

.neko {
    max-height: 200px;
    border-radius: 100%;
    border-style: double;
    display: block;
    margin: 10px auto;
}

.contacto {
    max-height: 120px;
    border-radius: 100%;
    border-style: double;
    display: block;
    margin: 10px auto;
}

.formulario {
    width: 200px;
    text-align: center;
    margin: 30px auto;
    font-family: "Montserrat" , sans-serif;
    border-style: dotted;

}

.formulario input, .formulario textarea {
    font-family: "Montserrat" , sans-serif;
    width: 200px;
}

.gatito {
    position: absolute;
    max-height: 150px;
    border-radius: 100%;
    border-style: double;
    display: block;
    margin-left: 200px;
}