header {
    height: 100px; 
    width: auto;
    background-color: whitesmoke;
    margin-bottom: auto;
}

header .moonita {
    max-height: 100%;
    display: inline-block; 
}

header nav {
    display: inline-block;
    height: 100%; 
    vertical-align: top;
}

header nav a {
    color:pink;
    text-decoration: none;
} 

header nav a.selected {
    text-decoration: underline;
}

header .nav-option {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
}