header {
    width: auto;
    overflow: hidden;
    background-color: paleturquoise;
    margin-bottom: auto;
}
header .logo {
    color: palevioletred;
    font-size: 50px;
    line-height: 100px;
    float: right;
}
header .nav {
    float:left;
    line-height: 200px;
}